streamlit
streamlit-code-editor
langchain
langchain-openai>=0.1.19,<0.2.0
langchain-community
inspeqai
python-dotenv
openai
requests
autogen-agentchat~=0.2
streamlit-ace
langgraph
streamlit-flow-component